.sidebar-links{
    box-shadow: 0 0 15px grey;
    cursor: pointer;
    /* background: rgb(254, 138, 157); */ 
  }

  .chart-container{
    width: 200px;
  }
  .chart{
    width: 800px;
    height: 200px;
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
    color: #f85700;
    transition: all 400ms ease;
  }
  .chart:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 16px -7px rgba(0, 0, 0, 0.3);
  }

  .bg-portal {
    background: url(Assets/13900590_5385130.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center !important;
  }

  .img-news{
    object-fit: contain;
    width: 800px;
    height: 100px;
  }